<!DOCTYPE html>

<html lang="en">
<!-- begin::Head -->

<head>
	<meta charset="utf-8" />
	<title>
		Leads.ge
	</title>
	<meta name="description" content="Base form control examples">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!--begin::Web font -->
	<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
	<script>
		WebFont.load({
			google: { "families": ["Poppins:300,400,500,600,700", "Roboto:300,400,500,600,700"] },
			active: function () {
				sessionStorage.fonts = true;
			}
		});
	</script>
	<!--end::Web font -->
	<!--begin::Base Styles -->
	<link href="../../../assets/vendors/base/vendors.bundle.css" rel="stylesheet" type="text/css" />
	<link href="../../../assets/demo/default/base/style.bundle.css" rel="stylesheet" type="text/css" />
	<link href="../../../assets/demo/default/base/style.css" rel="stylesheet" type="text/css">
	<!--end::Base Styles -->
</head>
<!-- end::Head -->
<!-- end::Body -->

<body class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default">
	<!-- begin:: Page -->
	<div class="m-grid m-grid--hor m-grid--root m-page">
    <!-- header -->
		<% include ../../../shared/header.ejs %>
		<!-- begin::Body -->
		<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
				<% include ../../../shared/sidebar.ejs%>
			<!-- end:: Body -->
		<div class="m-grid__item m-grid__item--fluid m-wrapper">
			<!-- BEGIN: Subheader -->
			<div class="m-subheader ">
				<div class="d-flex align-items-center">
					<div class="mr-auto">
						<h3 class="m-subheader__title users-add-title">
							მომხმარებლის რედაქტირება
						</h3>
						<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
							<li class="m-nav__item m-nav__item--home">
							
							</li>
							
							<li class="m-nav__item">
								<a href="/users" class="m-nav__link">
								<span class="m-nav__link-text">
									მომხმარებლები
								</span>
								</a>
							</li>
						 
							 
							</ul>
					</div>
					<div>

					</div>
				</div>
			</div>
			<!-- END: Subheader -->
			<div class="m-content add-users">
				<div class="row">
					<div class="col-md-12">
						<!--begin::Portlet-->
						<div class="m-portlet m-portlet--tab">


						</div>
						<!--end::Portlet-->
						<!--begin::Portlet-->
						<div class="m-portlet m-portlet--tab">

							<div class="container-fluid">
								<div class="add-search-inputs users-add">
									<div class="row">
										<div class="col-md-12">


											<form class="m-login__form m-form" id="form-update">
												<div class="form-group m-form__group">
													<label for="NameInput">
														სახელი
													</label>
													<input type="text" class="form-control m-input" id="NameInput" aria-describedby="emailHelp" value="<%= editUser.firstname %>"
													 name="firstname" required />

												</div>
												<div class="form-group m-form__group">
													<label for="SurnameInput">
														გვარი
													</label>
													<input type="text" class="form-control m-input" id="SurnameInput" aria-describedby="emailHelp" value="<%= editUser.lastname %>"
													 name="lastname" required>

												</div>
												<div class="form-group m-form__group">
													<label for="exampleInputEmail1">
														ელფოსტა
													</label>
													<input type="text" class="form-control m-input" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" value="<%= editUser.email %>"
													 required>

												</div>
												<div class="form-group m-form__group">
													<label for="MobileInput">
														ტელეფონი
													</label>
													<input type="text" class="form-control m-input" id="MobileInput" aria-describedby="emailHelp" name="phone" value="<%= editUser.phone %>">

												</div>
												<div class="form-group m-form__group">
													<label for="password">
														ახალი პაროლი
													</label>
													<input type="password" class="form-control m-input" id="password" aria-describedby="emailHelp" name="password">

												</div>
												<div class="form-group m-form__group">
													<label for="RoleInput">
														როლი
													</label>
													<select class="form-control m-bootstrap-select m_selectpicker m-input role-select" name="role_id" aria-describedby="option-error" aria-invalid="true">
														<% roles.forEach((role) => { %>
														<option<% if (editUser.role_id == role.id) { %> selected <% } %> value="<%= role.id %>">
															<%= role.name %>
														</option>
														<% }) %>
													</select>

												</div>

												<div class=" m-form__actions">
													<button type="submit" uid="<%= editUser.id %>" class="user-update btn btn-primary submit">
														შენახვა
													</button>

												</div>

											</form>




										</div>

									</div>
								</div>
							</div>



							<!--begin::Form-->

						</div>



						<!--end::Portlet-->
					</div>

				</div>
			</div>
		</div>
	</div>
	
	<!-- end:: Body -->
	<!-- footer -->
	<% include ../../../shared/footer.ejs %>
		</div>
		<!-- end:: Page -->
		<!-- begin::Scroll Top -->
		<div class="m-scroll-top m-scroll-top--skin-top" data-toggle="m-scroll-top" data-scroll-offset="500" data-scroll-speed="300">
			<i class="la la-arrow-up"></i>
		</div>
		<!-- end::Scroll Top -->
		<!-- begin::Quick Nav -->
	
		<!-- begin::Quick Nav -->
		<!--begin::Base Scripts -->
		
		<script src="../assets/app/js/jquery.js" type="text/javascript"></script>
		<script src="../assets/vendors/base/vendors.bundle.js" type="text/javascript"></script>
		<script src="../assets/demo/default/base/scripts.bundle.js" type="text/javascript"></script>
		<script src="../assets/demo/default/base/users.js" type="text/javascript"></script>
		<script>
			$("#form-update")[0].reset();
		</script>
		<!--end::Base Scripts -->
</body>
<!-- end::Body -->

</html>